/* google font work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* utilities */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --headText: #0B0223;
    --primeText: #534C64;
    --linearColor: #FF42A5;
}

.linear-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn-prime {
    color: #fff;
    background-color: var(--linearColor);
    padding: 18px 35px;
    border: 2px solid transparent;
    border-radius: 48px;
    cursor: pointer;
}

.btn-prime:hover {
    color: var(--linearColor);
    background-color: transparent;
    border: 2px solid var(--linearColor);
}

/* header style */
/* nav bar style */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 200px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo>h1 {
    font-size: 2.8rem;
    color: var(--headText);
}

.logo>h1>span {
    color: var(--linearColor);
}

.navBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.navBar ul>li {
    list-style: none;
}

.navBar ul>li>a {
    text-decoration: none;
    color: var(--primeText);
    font-weight: 500;
}

.follow-list {
    padding: 18px 24px;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
}

.you-icon {
    color: #F61C0D;
    margin: 0 15px;
}

/* banner section */
.banner {
    background-image: url('../images/Group 14.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 68px;
    padding: 0 200px;
}

.banner-text,
.banner-img {
    flex: 1;
}

.play-link {
    color: var(--headText);
    font-size: 2.5rem;
}

.goat {
    font-size: 4.5rem;
}

.banner-text ul>li {
    list-style: none;
    color: var(--primeText);
    font-weight: 500;
    margin: 17px;
}

.banner-text-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.go-btn {
    color: #fff;
    background-color: #4EC5F7;
    padding: 18px 35px;
    border: 2px solid transparent;
    border-radius: 48px;
    cursor: pointer;
}

.go-btn:hover {
    color: #4EC5F7;
    background-color: transparent;
    border: 2px solid #4EC5F7;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

/* main style */
main {
    max-width: 1920px;
    margin: 0 auto;
}

/* online section */
.online-games {
    margin: 120px 200px;
}

.online-games h1 {
    font-size: 2.5rem;
}

.online-games-para {
    color: var(--primeText);
    margin: 20px 0 30px;
}

/* card section */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.card>img {
    width: 100%;
}

.card>p {
    color: var(--primeText);
    font-weight: 500;
    line-height: 30px;
    margin-top: 10px;
}

/* online game section */
.online-game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin: 0 200px 120px;
}

.online-game-img,
.online-game-text {
    width: 50%;
    position: relative;
}

.online-game-img>.devil {
    width: 90%;
}

.online-game-img>.cat-girl {
    width: 30%;
    position: absolute;
    top: 70%;
    right: 0;
}

.online-game-text>h1 {
    font-size: 2.5rem;
    color: var(--headText);
}

.online-game-text>P {
    color: var(--primeText);
    margin: 30px 0 0;
}

/* try games section */
.try-games {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 145px 120px;
}

.games-on-try {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 2px solid transparent;
}

.games-on-try>span {
    padding: 0 10px 0 0;
}

.games-on-try:hover {
    color: var(--linearColor);
    border: 2px solid var(--linearColor);
    border-radius: 50px;
    cursor: pointer;
}

/* footer section */
.game-foot {
    background-color: var(--headText);
    padding: 120px 250px;
}

.game-foot>.logo>h1 {
    color: #fff;
}

.foot-address>ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    margin: 57px 0;
}

.foot-address>ul>li {
    list-style: none;
}

.foot-address>ul>li>a {
    color: #fff;
    text-decoration: none;
    font-weight: 600px;
}

/* social */
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 57px;
}

.social>i {
    cursor: pointer;
}

/* policy */
.policy>ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 57px 0;
}

.policy>ul>li {
    list-style: none;
}

.policy>ul>li>a {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
}

/* copy */
.copy>p {
    color: rgba(255, 255, 255, 0.60);
}

/* media query */
/* for small device */
@media screen and (max-width: 576px) {

    .navBar,
    .navBar ul,
    .banner,
    .online-game-container {
        flex-direction: column;
    }

    .navBar {
        padding: 38px 10px;
    }

    .navBar ul {
        margin-top: 24px;
    }

    .banner {
        background-image: none;
        padding: 0 30px;
        gap: 10px;
    }

    .banner-text {
        background-image: url('../images/Group 14.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px;
    }

    .banner-img {
        order: 1;
    }

    .banner-text {
        order: 2;
    }

    .online-games {
        margin: 80px 30px;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .online-game-container,
    .try-games {
        margin: 0 30px 80px;
    }

    .online-game-img,
    .online-game-text {
        width: 100%;
        text-align: center;
    }

    .online-game-text {
        order: 1;
    }

    .online-game-img {
        order: 2;
    }

    .try-games {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .games-on-try {
        width: 50%;
        margin: 0 auto;
    }

    .games-on-try>img {
        width: 50%;
    }

    .game-foot {
        padding: 120px 30px;
    }

    .foot-address>ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .policy>ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* for tablet */
@media screen and (max-width: 1024px) and (min-width: 576px) {

    .navBar,
    .navBar ul,
    .banner,
    .online-game-container {
        flex-direction: column;
    }

    .navBar {
        padding: 38px 10px;
    }

    .navBar ul {
        margin-top: 24px;
    }

    .banner {
        background-image: none;
        padding: 0 50px;
        gap: 10px;
    }

    .banner-text {
        background-image: url('../images/Group 14.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 100px;
    }

    .banner-img {
        order: 1;
    }

    .banner-text {
        order: 2;
    }

    .online-games {
        margin: 100px 50px;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .online-game-container,
    .try-games {
        margin: 0 50px 100px;
    }

    .online-game-img,
    .online-game-text {
        width: 100%;
        text-align: center;
    }

    .online-game-text {
        order: 1;
    }

    .online-game-img {
        order: 2;
    }

    .try-games {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .games-on-try {
        width: 50%;
        margin: 0 auto;
    }

    .games-on-try>img {
        width: 50%;
    }

    .game-foot {
        padding: 120px 50px;
    }
}